*{
    border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
  background: #444;
}

/* NAV-BAR */
/* MENU */
nav.flex-container {
  background: #222;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-size: 90%;
}
nav.flex-container div.dropdown.first { /* menu button for low width*/
  display: none;
}

nav.flex-container div.dropdown div.dropdowncontent {
  display: none;
}
nav.flex-container a.menu, nav.flex-container div.dropdown a.first {
  padding: 1rem 1.5rem; 
  height: 3rem;
  color: #ddd;
  text-decoration: none;
  display: inline-block;/**/
}
nav.flex-container div.dropdown:hover div.dropdowncontent {
  position: absolute;
  top: 3rem;
  display: block;
  color: white;
  text-align: center;
}
nav.flex-container div.dropdown:hover div.dropdowncontent a {
  display: block;
  background-color: #222;
  padding: 1rem 2.5rem;
  text-align: center;
  color: #ddd;
  text-decoration: none;
}
nav.flex-container div.dropdown:hover div.dropdowncontent a:hover {
  transition: 0.2s;
  background-color: indigo;
  color: white;
}
nav.flex-container a.menu:hover, nav.flex-container div.dropdown:hover a.first {
  border-bottom: coral 0.3rem solid;
  transition: 0.2s;
  color: #fff;
}

nav.flex-container a.menu:first-child {
  margin-left: 5rem;
  margin-right: 4rem;
}

/* SOCIAL MEDIA */
nav.flex-container section.flex-container {
  display: flex;
  align-items: center;
  margin-left: 8rem;
  justify-content: space-around;
  width: 9rem;
}

nav.flex-container section.flex-container a {
  background: #222;
  height: 3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem; 
}
nav.flex-container section.flex-container a:hover {
  border-bottom: 0.2rem solid coral;
}

nav.flex-container section.flex-container a img {
  filter: grayscale(0%);  
  height: 1.2rem;
  margin-top: 0.9rem;
}
nav.flex-container section.flex-container a:hover img{
  filter: grayscale(100%);  
  transition: 0.5s;
}
/* END NAV-BAR */

/* MAIN */

/* 1- WELCOME */
/*
main {
  height: 100vh; 
  background-color: #333; 
  margin: 0 0 0 6rem; 
}*/
main section.welcome {
  margin: 0.4rem 0 0.4rem 8rem;
  display: flex;
  background: #333 url(images/img1.png) no-repeat;
  background-position: -75% 40%;
}
main section.welcome article {
  margin: 10rem 0 0 5rem;
}

main section.welcome h1 {
  /*width: fit-content;*/
  padding: 0 1rem;
  font-size: 250%;
  color: white;
  text-shadow: 1px 1px  black, -1px 1px  black, 1px -1px  black, -1px -1px  black;
}
main section.welcome p { 
  margin: 1rem 0 0 0rem;  
  /*width: fit-content;*/
  padding: 0 1rem;
  font-size: 120%;
  text-align: justify;
  color: white;
  text-shadow: 1px 1px  black, -1px 1px  black, 1px -1px  black, -1px -1px  black;
  font-weight: bold;
}
main .welcome a{
  margin: 2rem 0 7rem 1rem;
  background: #222;
  display: block;
  width: 10rem;
  text-align: center;
  color: white;
  padding: 1rem;
  text-decoration: none;
}
main .welcome a:hover {
  background: #111;
  transition: 0.1s;
}

/* 2- ABOUT ME */
main section.aboutme {
  margin: 0.4rem 8rem 0.4rem 0;
  display: flex;
  justify-content: flex-end;
  background: #333 url('images/fox winter.png') no-repeat;
  background-size: 500px;
  height: 30rem;
  background-position: 25%;
  text-shadow: 1px 1px  black, -1px 1px  black, 1px -1px  black, -1px -1px  black;
}

main section.aboutme article{
  margin: 0 5rem 0 0;
  text-align: right;
}
main section.aboutme h1 {
  color: white;
  margin: 10rem 0 1.5rem 0;
  font-size: 2.5rem;
  text-shadow: 1px 1px  black, -1px 1px  black, 1px -1px  black, -1px -1px  black;
}
main section.aboutme p {
  color: white;
  margin: 1rem 0;
  font-size: 120%;
  font-weight: bold;
}
/*  3- COMPETITIONS */
main section.competitions {
  height: 28rem;
  /* background: darkcyan; */
  margin: 0.4rem 0 0.4rem 8rem;
  background: #333;
}
main section.competitions h1 {
  /* background: crimson; */
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 1px  black, -1px 1px  black, 1px -1px  black, -1px -1px  black;
  text-align: center;
  padding: 3rem 6rem 2rem 2rem;
}
main section.competitions  article.flex-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 4rem 0 0;
}
main section.competitions  article.flex-container article {
  /* background: darkgreen; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
main section.competitions article.flex-container article img {
  box-shadow: 0px 0px 8px 4px #171717;
  padding: 2px;
}
main section.competitions article.flex-container article p {
  /* background: magenta; */
  color: white;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0 0 0;
}
/* END MAIN*/

/* FOOTER */
footer.flex-container {
  display:flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  background: #222;
  color: white;
  clear: both;
}

footer.flex-container section {
  padding: 2rem;
  text-align: center;
}
footer.flex-container section a {
  text-decoration: none;
}
footer.flex-container section h1 {
  margin-bottom: 1rem;
}
footer.flex-container section p {
  margin-bottom: 0.5rem;
  color: #bbb;
}
footer.flex-container section p:hover {
  color: white;
}
footer.flex-container section.courses {
  margin-left: 4rem;
}
/* END FOOTER */
section.copyright {
  background: #222;
  padding: 1rem 0;
  color: #bbb;
  text-align: center;
}

/* MediaQuery */
@media screen and (max-width: 72rem) {
  /* nav bar */
  nav.flex-container{
    /* background: green; */
    padding-right: 2rem;
  }
  nav.flex-container section.flex-container.social {
    display: none;
  }
  nav.flex-container a.menu:first-child {
    margin-left: 0;
  }

}
@media screen and (max-width: 68rem) {
  /* nav bar */
  nav.flex-container{
    padding-right: 0;
  }
  nav.flex-container a.menu.opt, nav.flex-container div.dropdown {
    display: none;
  }
  nav.flex-container div.dropdown.first {
    display: block;
    position: relative;
  }
  nav.flex-container div.dropdown.first div.dropdowncontent {

    right: 0rem;
  }
  nav.flex-container a.menu:first-child {
    margin-right: 0;
  }
  nav.flex-container div.dropdown.first a.first {
    display: block;
  }
  /* main */
  /* welcome */
  main section.welcome {
    margin: 0.4rem;
    background-position: top center ;
    background-size: 700px;
  }
  main section.welcome article {
    margin: 0rem auto 1rem;
  }
  main section.welcome article h1 {
    padding-top: 20rem;
  }
  
  main section.welcome article p, main section.welcome article h1 {
    text-align: center;
  }
  main .welcome a {
    margin: 1.5rem auto ;
  }
  /* about me */
  main div{
    height: 3rem;
    margin: 0 0.4rem ;
    background: #333;
  }
  main section.aboutme {
    margin: 0 0.4rem 0.4rem;
    background-position:  center top;
    text-align: center;
    height: auto;
  }
  main section.aboutme article {
    text-align: center;
    margin: 1rem auto;
  }
  
  main section.aboutme article p,  main section.aboutme article h1 {
    text-align: center;
  }
  main section.aboutme article h1 {
    margin: 23rem auto 0rem;
  }

  /* competition*/
  main section.competitions {
    height: auto;
    margin: 0.4rem;
  }
  main section.competitions h1 {
    padding: 2rem 0;
    margin: auto;
  }
  main section.competitions article.flex-container {
    display: block;
    text-align: center;
    margin: auto;
  }
  main section.competitions article.flex-container article {
    padding: 0;
    margin: auto;
  }
  main section.competitions article.flex-container article img {
    width: 50%;
    margin: auto;
  }
  main section.competitions article.flex-container article p {
    margin: 0.5rem 0 3rem;
  }
  /* footer */
  footer.flex-container section.courses {
    margin-left: 0;
  }
  footer.flex-container section {
    padding: 2rem 1.5rem;
  }
  footer.flex-container section.contact-me {
    margin-right: 2rem;
  }
}
